In [1]:
import pandas as pd
import numpy as np

In [2]:
seg_df = pd.read_csv('DATA SET FOR RFM-VALUE BASED SEGMENTATION.csv',sep=',')

In [3]:
seg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22602 entries, 0 to 22601
Data columns (total 9 columns):
cust_id                 22602 non-null int64
No_of_days_frm_L_pur    22602 non-null int64
total_sale              22602 non-null float64
No_baskets              22602 non-null int64
item_cnt                22602 non-null int64
no_SKUs                 22602 non-null int64
no_Categories           22602 non-null int64
avg_no_prds_w_ret       22602 non-null float64
Flag_Multi_cat_p2       22602 non-null int64
dtypes: float64(2), int64(7)
memory usage: 1.6 MB

In [4]:
seg_df.head()

,cust_id,No_of_days_frm_L_pur,total_sale,No_baskets,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2
0,347,3,444.00,4,47,25,5,11.75000,0
1,585,320,509871.48,27,19322,531,68,715.62963,0
2,885,115,2284.59,4,247,130,17,61.75000,1
3,1670,3,8092.17,28,553,306,114,19.75000,1
4,2188,428,200.50,1,51,14,2,51.00000,0

In [6]:
seg_df.columns

Index(['cust_id', 'No_of_days_frm_L_pur', 'total_sale', 'No_baskets',
       'item_cnt', 'no_SKUs', 'no_Categories', 'avg_no_prds_w_ret',
       'Flag_Multi_cat_p2'],
      dtype='object')

In [5]:
seg_df.rename(columns={'No_of_days_frm_L_pur': 'recency', 
                         'No_baskets': 'frequency', 
                         'total_sale': 'monetary_value'}, inplace=True)

In [6]:
seg_df.columns

Index(['cust_id', 'recency', 'monetary_value', 'frequency', 'item_cnt',
       'no_SKUs', 'no_Categories', 'avg_no_prds_w_ret', 'Flag_Multi_cat_p2'],
      dtype='object')

# Value based segmentation

In [7]:
# creating Deciles
seg_df['decile'] = pd.qcut(seg_df['monetary_value'], 10, labels=False)

In [8]:
seg_df.head(5)

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile
0,347,3,444.00,4,47,25,5,11.75000,0,5
1,585,320,509871.48,27,19322,531,68,715.62963,0,9
2,885,115,2284.59,4,247,130,17,61.75000,1,8
3,1670,3,8092.17,28,553,306,114,19.75000,1,9
4,2188,428,200.50,1,51,14,2,51.00000,0,3

In [9]:
# Key performace variable selection
col_kpi=['monetary_value','recency','frequency','item_cnt','no_SKUs',
         'no_Categories','avg_no_prds_w_ret','Flag_Multi_cat_p2']

In [10]:
#Profiling
VB_Profiling=seg_df.groupby(['decile']).apply(lambda x: x[col_kpi].mean())

In [11]:
VB_Profiling

,monetary_value,recency,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2
decile,,,,,,,,
0,69.865536,238.693761,1.019772,6.140598,3.235501,1.648067,5.964572,0.117311
1,107.423593,197.436331,1.018255,10.094390,5.451024,2.228406,9.995548,0.334817
2,153.687809,187.954405,1.194776,11.041169,5.681275,2.354139,9.499277,0.326251
3,229.448081,170.429708,1.683908,18.546861,9.091954,3.597259,11.684586,0.416004
4,331.000137,174.325066,2.343667,25.880425,12.349867,4.984500,11.650923,0.443313
5,474.869996,123.691150,2.805752,34.734071,16.421239,6.288938,14.139388,0.588938
6,712.810314,100.781858,4.040265,50.161504,25.389381,9.525664,13.328497,0.699558
7,1140.993296,77.999115,6.153540,80.302655,40.023894,15.100442,14.260162,0.799115
8,2013.107841,61.258407,9.705752,137.839823,65.577876,24.642035,15.953250,0.846903
9,7405.863361,50.987616,18.102609,354.333481,129.369306,48.166298,24.099957,0.865104

In [12]:
profiling_output = VB_Profiling.T

In [13]:
profiling_output

decile,0,1,2,3,4,5,6,7,8,9
monetary_value,69.865536,107.423593,153.687809,229.448081,331.000137,474.869996,712.810314,1140.993296,2013.107841,7405.863361
recency,238.693761,197.436331,187.954405,170.429708,174.325066,123.691150,100.781858,77.999115,61.258407,50.987616
frequency,1.019772,1.018255,1.194776,1.683908,2.343667,2.805752,4.040265,6.153540,9.705752,18.102609
item_cnt,6.140598,10.094390,11.041169,18.546861,25.880425,34.734071,50.161504,80.302655,137.839823,354.333481
no_SKUs,3.235501,5.451024,5.681275,9.091954,12.349867,16.421239,25.389381,40.023894,65.577876,129.369306
no_Categories,1.648067,2.228406,2.354139,3.597259,4.984500,6.288938,9.525664,15.100442,24.642035,48.166298
avg_no_prds_w_ret,5.964572,9.995548,9.499277,11.684586,11.650923,14.139388,13.328497,14.260162,15.953250,24.099957
Flag_Multi_cat_p2,0.117311,0.334817,0.326251,0.416004,0.443313,0.588938,0.699558,0.799115,0.846903,0.865104

In [14]:
profiling_output.to_csv('profiling_output.csv')

# RFM SEGMENTATION

In [ ]:
#Method-1: Creating quartiles

#seg_df['R_Quartile'] = pd.qcut(seg_df['recency'], 4, labels=False)
#seg_df['F_Quartile'] = pd.qcut(seg_df['recency'], 4, labels=False)
#seg_df['M_Quartile'] = pd.qcut(seg_df['recency'], 4, labels=False)

In [15]:
seg_df.head()

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile
0,347,3,444.00,4,47,25,5,11.75000,0,5
1,585,320,509871.48,27,19322,531,68,715.62963,0,9
2,885,115,2284.59,4,247,130,17,61.75000,1,8
3,1670,3,8092.17,28,553,306,114,19.75000,1,9
4,2188,428,200.50,1,51,14,2,51.00000,0,3

In [16]:
#Method-2: Creating quartiles

quantiles = seg_df[['frequency','monetary_value','recency' ]].quantile(q=[0.25,0.5,0.75])
quantiles

      frequency  monetary_value  recency
0.25        1.0         151.800     26.0
0.50        2.0         393.755     93.0
0.75        5.0        1117.725    225.0

In [17]:
quantiles = quantiles.to_dict()
quantiles

{'frequency': {0.25: 1.0, 0.5: 2.0, 0.75: 5.0},
 'monetary_value': {0.25: 151.8, 0.5: 393.755, 0.75: 1117.725},
 'recency': {0.25: 26.0, 0.5: 93.0, 0.75: 225.0}}

In [18]:
#We create two classes for the RFM segmentation since, being high recency is bad, while high frequency and monetary value is good.
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def RClass(x,p,d):
    if x <= d[p][0.25]:
        return 1
    elif x <= d[p][0.50]:
        return 2
    elif x <= d[p][0.75]: 
        return 3
    else:
        return 4
    
# Arguments (x = value, p = recency, monetary_value, frequency, k = quartiles dict)
def FMClass(x,p,d):
    if x <= d[p][0.25]:
        return 4
    elif x <= d[p][0.50]:
        return 3
    elif x <= d[p][0.75]: 
        return 2
    else:
        return 1

In [19]:
seg_df['R_Quartile'] = seg_df['recency'].apply(RClass, args=('recency',quantiles,))
seg_df['F_Quartile'] = seg_df['frequency'].apply(FMClass, args=('frequency',quantiles,))
seg_df['M_Quartile'] = seg_df['monetary_value'].apply(FMClass, args=('monetary_value',quantiles,))

In [20]:
seg_df.head()

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile,R_Quartile,F_Quartile,M_Quartile
0,347,3,444.00,4,47,25,5,11.75000,0,5,1,2,2
1,585,320,509871.48,27,19322,531,68,715.62963,0,9,4,1,1
2,885,115,2284.59,4,247,130,17,61.75000,1,8,3,2,1
3,1670,3,8092.17,28,553,306,114,19.75000,1,9,1,1,1
4,2188,428,200.50,1,51,14,2,51.00000,0,3,4,4,3

In [21]:
seg_df1=seg_df.assign(R_seg=np.nan, FM_seg =np.nan)
seg_df1.R_seg[seg_df['R_Quartile']==4] = "3.Churn"
seg_df1.R_seg[seg_df['R_Quartile']==2] = "2.At Risk"
seg_df1.R_seg[seg_df['R_Quartile']==3] = "2.At Risk"
seg_df1.R_seg[seg_df['R_Quartile']==1] = "1.Active"

seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==1)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==1)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==2)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==1)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==2)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==2)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==1) & (seg_df['M_Quartile']==3)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==3)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==3)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==3)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==1) & (seg_df['M_Quartile']==4)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==1) & (seg_df['M_Quartile']==2)] = "2.Gold"
seg_df1.FM_seg[(seg_df['F_Quartile']==2) & (seg_df['M_Quartile']==4)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==3) & (seg_df['M_Quartile']==4)] = "1.Silver"
seg_df1.FM_seg[(seg_df['F_Quartile']==4) & (seg_df['M_Quartile']==4)] = "0.Standard"

seg_df1.FM_seg.fillna("4.Premium", inplace=True)

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [22]:
seg_df1.head(5)

,cust_id,recency,monetary_value,frequency,item_cnt,no_SKUs,no_Categories,avg_no_prds_w_ret,Flag_Multi_cat_p2,decile,R_Quartile,F_Quartile,M_Quartile,R_seg,FM_seg
0,347,3,444.00,4,47,25,5,11.75000,0,5,1,2,2,1.Active,2.Gold
1,585,320,509871.48,27,19322,531,68,715.62963,0,9,4,1,1,3.Churn,4.Premium
2,885,115,2284.59,4,247,130,17,61.75000,1,8,3,2,1,2.At Risk,2.Gold
3,1670,3,8092.17,28,553,306,114,19.75000,1,9,1,1,1,1.Active,4.Premium
4,2188,428,200.50,1,51,14,2,51.00000,0,3,4,4,3,3.Churn,1.Silver

In [23]:
# Key performace variable selection
col_kpi=['monetary_value','recency','frequency','item_cnt','no_SKUs',
         'no_Categories','avg_no_prds_w_ret','Flag_Multi_cat_p2']

In [24]:
#Profiling
Profiling=seg_df1.groupby(['R_seg', 'FM_seg']).apply(lambda x: x[col_kpi].mean()).T

In [25]:
Profiling

R_seg                1.Active                                       \
FM_seg             0.Standard    1.Silver      2.Gold    4.Premium
monetary_value     102.134684  279.270058  956.785780  4600.887834
recency             11.890020   12.206096   11.886559    10.605064
frequency            1.000000    1.531205    4.355376    17.181784
item_cnt             8.152749   17.994194   55.266129   281.465231
no_SKUs              4.472505    8.638607   26.863978   122.123205
no_Categories        1.902240    3.304790   10.240323    45.893802
avg_no_prds_w_ret    8.152749   12.842525   13.487218    15.871176
Flag_Multi_cat_p2    0.535642    0.701016    0.925806     0.988662

R_seg               2.At Risk                                        \
FM_seg             0.Standard    1.Silver       2.Gold    4.Premium
monetary_value      98.560910  285.923446  1030.607860  3196.114537
recency            121.963967  111.866394    97.716444    73.346466
frequency            1.000000    1.432175     3.874195    11.850521
item_cnt             8.047656   17.309134    54.037395   196.280417
no_SKUs              4.330105    7.804703    23.557207    81.535921
no_Categories        1.813638    2.920927     8.823180    30.299537
avg_no_prds_w_ret    8.047656   12.897694    15.129561    16.388437
Flag_Multi_cat_p2    0.419217    0.522836     0.750371     0.901506

R_seg                 3.Churn
FM_seg             0.Standard    1.Silver       2.Gold    4.Premium
monetary_value      94.664424  271.467797  1228.368469  9816.190248
recency            351.511019  331.617458   323.264957   279.611570
frequency            1.000000    1.429408     3.292735     9.859504
item_cnt             8.594595   18.073228    44.083333   347.842975
no_SKUs              4.600832    7.899824    15.744302    71.991736
no_Categories        2.095218    3.189807     6.892450    23.958678
avg_no_prds_w_ret    8.594595   13.142570    15.003833    24.605255
Flag_Multi_cat_p2    0.000000    0.000000     0.000000     0.000000

In [26]:
Profiling.to_csv('Profiling_rfm.csv')